.section.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.hero-image {
  margin-top: 50px;
  height: 300px;
}

.section.skills {
  margin-top: -14rem;
  /* padding-bottom: 1rem; */
}

.skills div.columns {
  margin-bottom: 50px;
}

.skills-column-image {
  margin-top: 50px;
  height: 70px;
}

ul.skills-tools {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
}

.collab-image {
  height: 45px;
  margin: auto 2rem;
}

.section {
  padding: 5rem 1.5rem;
}

.footer-logo {
  margin-top: 50px;
  height: 50px;
}

footer .title {
  /* font-weight: 300; */
  font-size: 1.6rem;
  margin: 2rem auto;
  max-width: 300px;
  opacity: 0.7;
}

footer a.button {
  margin: auto 0.5rem;
}

.footer {
  padding: 3rem 1.5rem 3.5rem;
}

.navbar .navbar-menu {
  text-align: center;
  padding: 1rem 0 2rem;
}

@media screen and (min-width: 1088px) {
  .navbar {
    padding: 1.2rem 0;
    box-shadow: none;
    z-index: auto;
  }
  
  .navbar>.container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    width: 100%;
  }
  
  .navbar .navbar-brand a.navbar-item img {
    max-height: 3.5rem;
  }
}

@media screen and (min-width: 1088px) {
  .section.is-medium {
    padding: 5rem 1.5rem;
  }
}

@media screen and (max-width: 769px){
  .section.is-long {
      padding-bottom: 13rem;
  }
}

@media screen and (min-width: 1280px){
  .section.is-long {
      padding-bottom: 13rem;
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3d56;
}

/* contact page */
.section.contact-section-title {
  padding-bottom: 2rem;
}

.section.contact-section-form {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.section.contact-section-form form {
  max-width: 640px;
  margin: 32px auto 0;
}

/* 
.container form {
  max-width: 640px;
  margin: 32px auto 0;
}

@media screen and (min-width: 769px) {
  .container form {
      margin: 60px auto 0;
  }
} */