// $primary-color: #00d1b2;
$primary-color: #F4ABAA;
$secondary-color : #575477;
$secondary-color-dark : #3c3a52;

body {
  font-family: 'Lato', sans-serif;
}

.title {
  font-family: 'Raleway', serif;
  font-weight: 500;
}

.navbar {
  .navbar-menu {
    text-align: center;
    padding: 1rem 0 2rem;
  }
}

.has-bg-blue {
  background-color: #0a315a !important;
}

.has-bg-pink {
  background-color: #fdd2c3 !important;
}

.text-pink {
  color: #fdd2c3;
}

.text-blue {
  color: #0a315a !important;
}

.text-pink-transparent {
  color: rgba(244, 171, 170, .7);
}

.hero {
  .hero-image {
    margin-top: 50px;
    height: 300px;
  }
}

// .section {
//   padding: 5rem 1.5rem;
// }

.navbar {
  .btn-contact {
    background: $secondary-color;
    border: none;
    color: white;
    transition: all .33s ease-in-out;
    &:hover {
      background: $secondary-color-dark;
      transition: all .33s ease-in-out;
    }
  }
}

.whoami {
  padding: 4rem 1.5rem 15rem 1.5rem;
  .history {
    
  }
}

.skills {

  margin-top: -14rem;
  
  .box {

    padding-bottom: 70px;
    
    .skill-image {
      margin-top: 50px;
      height: 65px;
    }

  }

  .skills-tools {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
  }

}

.collabs {

  padding-bottom: 20px !important;
  padding-top: 20px !important;

  .collab {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .collab-image {
    height: 45px;
    margin: auto 2rem;
  }

}

.footer {

  padding: 1.5rem 1.5rem 3.5rem;

  .logo {
    margin-top: 50px;
    height: 50px;
  }

  .title {
    font-size: 1.6rem;
    margin: 2rem auto;
    max-width: 300px;
    opacity: 0.7;
  }

  .btn-social {
    background-color: transparent;
    border-radius: 100% !important;
    border: 2px solid rgba(255, 255, 255, .5);
    color: white;
    margin: auto 0.8rem;
    transition: all .33s ease-in-out;
    
    &:hover {
      background-color: white;
      color: #2A3166;
      transition: all .33s ease-in-out;
    }

  }

  p.copyright-text {
    font-size: 1rem;
    padding-top: 1rem;
  }

}

.section.is-long {
  // padding-bottom: 13rem;
}

@media screen and (max-width: 769px){
  .collabs {
    .collab-image {
      height: 25px;
    }
  }

  .footer {
    .btn-social {
      margin: auto 0.3rem;
    }
  }
}

@media screen and (max-width: 425px){
  .footer {
    .btn-social {
      // width: 20px;
      font-size: 15px;
      margin: auto 0.3rem;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
  background-color: #3f3d56;
}

/* contact page */
.section.contact-section-title {
  padding-bottom: 2rem;
}

.section.contact-section-form {
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.section.contact-section-form form {
  max-width: 640px;
  margin: 32px auto 0;
}